{% extends "base.html" %}

{% block css%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}"/>
{% endblock %}

{% block title %}Login !{% endblock %}

{% block content %}
    <br>
    <h2 align="center">Login</h2>
    <div class="bg_filter">
        <hr class="form_hr">
        <form method="post">

            <div class="form-group">
                <h5><label for="email">Email</label></h5>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@mail.com" required>
            </div>

            <div class="form-group">
                <h5><label for="password">Password</label></h5>
                <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
            </div>

            <br>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}

{% block script_block %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}